

.navbar {
  display: none;
  position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;}

/* Larger than phone */
@media screen and (min-width: 875px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}



/* Larger than tablet */
@media screen and (max-width: 875px) {
  /* Navbar */
  .navbar-item:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

  .navbar .icon {
    display: none; }
  .navbar a:hover .fa {
    color: #7C878E;
    opacity: 1.0; }
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: .1rem solid #003057;
    border-bottom: .1rem solid #003057; }
  .navbar.footer > .container {
    width: 100%;
    color: }
  .navbar.footer .fa {
      color: #003057; }
  .navbar.footer a:hover .fa {
    color: #7C878E;
    opacity: 1.0; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    padding:0;
     }
  .navbar-item {
    position: relative;
    display:inline-block;
    margin-bottom: 0;
    margin-left: 6em;
    padding-top: 1.2em; }
  .navbar-item.footer {
    position: relative;
    display:inline-block;
    margin-bottom: 0;
    margin-left: 11em;
    padding-top: 1.2em; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #000; }
  .navbar-link.active {
    color: #4286F4; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}

  @media screen and (max-width: 875px) {
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      bottom:0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 64, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
 background-color: transparent;
 width: 300px;
 height: 300px;
 border: 1px solid #f1f1f1;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 64, 0.6); /*rgba(0, 0, 0, 0.2) */
 perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.8s;
 transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
 position: absolute;
 width: 300px;
 height: 100%;
 backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
 background-color: #7C878E;
 color: black;
}

/* Style the back side */
.flip-card-back {
 background-color: #003057;
 color: white;
 transform: rotateY(180deg);
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 64, 0.6); /*rgba(0, 0, 0, 0.2) */
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: inherit;
}

.price {
  color: #7C878E;
  font-size: 22px;
}


/* Hero Image */
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(237, 172, 23, 0.9), rgba(205, 205, 205, 0.2)), url("images/LogoMakr_43r04b.png");

    /* Set a specific height */
    height: 50%; /* inherit gives full screen */

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #003057;
}

/* The hero image */
.hero-image-landing {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(237, 172, 23, 0.9), rgba(205, 205, 205, 0.2)), url("images/stanek_harveycutter.jpg");

    /* Set a specific height */
    height: inherit;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text-landing {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #003057;
}
